.game {
    position: relative;

    width: 500px;
    height: 500px;

    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    position: relative;

    width: 50px;
    height: 50px;

    background-color: blue;

    transition: transform .2s;
}

body {
    display: flex;
    align-items: flex-start;
}

.button {
    margin-left: 10px;
    padding: 10px;
}